@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fec92f;
  border-radius: 10px;
}

.switchrtl {
  text-align: start;
}
.switchltr {
  text-align: start;
}

.ltr {
  text-align: left;
}

#langSwitch {
  display: inline-block;
  padding: 10px 20px;
  background-color: #cca226;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#langSwitch:hover {
  opacity: 80%;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.container {
  position: relative;
  color: black;
  font-family: Cairo;
  font-style: normal;
  font-size: 1.1rem;
}
.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.containerPolicy {
  padding: 20px 5% 0;
}
.containerPolicyBox {
  border-radius: 1.5rem;
  border: 1px solid #0a1a22;
  background: #fffdf8;
  box-shadow: 4px 4px 0px 0px #000, 0px 2px 4px 0px rgba(254, 201, 47, 0.04);
  padding: 0rem 1rem;
  position: relative;
}
.musc-2 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  height: 11rem;
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title img {
  background-color: #ffff;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 9999999rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  transition: all 0.3s ease-in-out;
}
.main-title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  z-index: 1;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 665px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
    margin-top: 2rem;
  }
}
.main-title h1 {
  color: #cca226 !important;
}
.contentTitle .content {
  display: flex;
  align-items: center;
}

.pNote {
  font-weight: bold;
}
.bg {
  z-index: -99;
  background-image: url("/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.googlePlayBtn {
  display: flex;
  justify-content: center;
}

table,
th,
td {
  border: 1px solid black;
}
td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (max-width: 1080px) {
  .googlePlayBtn {
    width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .bg {
    background-image: url("/bg-no-footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}

@media screen and (max-width: 665px) {
  .musc-2 {
    display: none;
    background-color: red;
  }
  .header {
    display: block;
    text-align: center;
  }
  .main-title h1 {
    text-align: center;
  }
}
